$wrapper-padding-inline: 2rem;
$min-height: 2rem;

@import "theme.dark.css"
  (prefers-color-scheme: dark);
@import "theme.light.css"
  (prefers-color-scheme: light);

$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-height: 1rem;

$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  //   margin: 0;
  //   padding: 0;
  box-sizing: border-box;
}

// /*body {
//   margin: 0;
//   font-size: 1.125rem;
//   line-height: 1.5;
// }*/

$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-height: 1rem;

header {
  .title {
    background-image: url(img/pixel.jpg);
    // background-size: 900px 600px;
    width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    &:hover {
      transform: translateY(-0.1125rem)
        scale(1.01);
      box-shadow: 0 0.5rem 0.75rem 0.375rem
          rgba(0, 0, 0, 0.15),
        0 0.25rem 0.25rem rgba(0, 0, 0, 0.33);
      .card__img {
        filter: grayscale(0);
      }
    }
  }

  .writer {
    padding-top: 100px;
    padding-bottom: 30px;
    a:hover {
      background-color: blue;
    }
  }

  .bg {
    color: white;
    margin-inline: auto;
    padding-inline: 60px;
    min-height: max(50dvh, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    font-family: "Diphylleia", serif;
    //text-wrap: balance;
    word-break: keep-all;
    background-color: rgba(44, 44, 168, 0.3);
  }
  .bg:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// main {
//   width: 100%;
//   height: 100%;
//   // overflow-x: hidden;
//   scroll-snap-type: y mandatory;
// }

.fade-in {
  opacity: 0;
  transition: opacity 1s;

  &.active {
    opacity: 1;
  }
}

.main {
  &__media {
    margin-top: 100px;
    // overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.scale {
  transform: scale(0);
  transition: transform 1s;

  &.active {
    transform: scale(1);
  }
}

section {
  overflow: hidden;
  scroll-snap-align: center;
}

main {
  padding-inline: 1rem 1rem;
  min-height: max(50dvh, $min-height);
  position: sticky;
  word-break: keep-all;
  width: min(90ch, 100% - 4rem);
  margin-inline: auto;
  font-family: system-ui;
  //font-family: "Noto Serif KR", serif;
  //font-family: "Noto Sans KR", sans-serif;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background-color: $bg;
  color: $txt;
}

.wrapper {
  width: min(60ch, 100% - 4rem);
  min-height: max(50rem, 100dvh);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

// section:nth-of-type(odd) {
//   background-color: $bgVariant;
// }

.stickyWrapper {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

#section_3 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
    &.Triggered {
      transform: scale(1);
    }
  }
}

aside {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  padding-inline: 1rem 1.5rem;
  background-color: $surface-transparent;
  backdrop-filter: blur(0.25rem);
  width: fit-content;
  height: max(100dvh, $min-height);
  border-radius: 0 1rem 1rem 0;
  font-size: 0.875rem;
  position: sticky;
  top: 0;

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    li {
      font-weight: 600;
      align-items: center;
      gap: 12px;
      text-transform: capitalize;
      color: $onSurface;
      justify-content: center;
      display: flex;
      transition: color 150ms ease-out;

      &::before {
        margin-top: 2px;
        content: "";
        width: 1rem;
        height: 1rem;
        transition: border-color 150ms easae-out,
          background-color 150ms easae-out;
        border-radius: 999999999px;
        border: 0.125rem solid white;
      }
      &:hover {
        color: $accent;

        &::before {
          border-color: $accent;
        }
      }
      &.pressed {
        color: $accent;

        &::before {
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;

  .indicator {
    position: absolute;
    inset: 0;
    background-color: $accent;
    transform: scaleX(0%);
    transform-origin: left;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@keyframes swing {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@media (width<1080px) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    grid-column: 1;
    grid-row: 3;
    padding-inline: unset;
    padding-block: 16px;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    position: sticky;
    top: $progressBar-height;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 48px;

      li {
        font-weight: 600;
        align-items: center;
        gap: 12px;
        text-transform: capitalize;
        color: white;
        justify-content: center;
        display: flex;
        transition: color 150ms ease-out;

        &::before {
          margin-top: 2px;
          content: "";
          width: 1rem;
          height: 1rem;
          border-radius: 999999999px;
          transition: border-color 150ms ease-out;
          border: 0.125rem solid $onSurface;
        }
      }
    }

    .progressBar {
      grid-column: 1;
      grid-row: 1;
    }
  }

  @media (width<960px) {
    aside {
      grid-column: 1;
      grid-row: 3;
      padding-inline: unset;
      padding-block: 16px;
      width: 100%;
      height: fit-content;
      border-radius: 0 0 1rem 1rem;
      position: sticky;
      top: $progressBar-height;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 48px;
        a:first-of-type li {
          margin-left: $wrapper-padding-inline;
        }
        a:last-of-type li {
          margin-right: $wrapper-padding-inline;
        }
      }
    }
  }
}
@media (width < 59.1875rem) {
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.fade-out {
  opacity: 1;
  transition: opacity 1s;

  &.active {
    opacity: 0;
  }
}

.slide-in {
  transform: translateX(10%);
  transition: transform 0.5s;

  &.active {
    transform: translateX(1%);
  }
}
