* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*p1 {
  font-size: 60px;
  font-weight: 800;
  background-color: aqua;
  color: rgb(66, 62, 99);
  margin-inline: auto;
  text-align: center;
}*/

#title {
  padding: 100px;
  width: auto;
  height: auto;
  text-align: center;
  padding-block: auto;
  background-color: aqua;
  font-size: 65px;
  font-family: "Diphylleia", serif;
  font-weight: 700;
}
