@charset "UTF-8";
@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

header .title {
  background-image: url(img/픽셀레이트.jpg);
  background-size: 900px 600px;
  width: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .writer {
  padding-top: 100px;
  padding-bottom: 30px;
}
header .writer a:hover {
  background-color: blue;
}
header .bg {
  /*max-width: calc(
    80ch + 2 * $wrapper-padding-inline
  );*/
  color: white;
  margin-inline: auto;
  padding-inline: 60px;
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  font-family: "Diphylleia", serif;
  word-break: keep-all;
  background-color: rgba(44, 44, 168, 0.3);
}
header .bg:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.animTrigger {
  position: relative;
}
.animTrigger::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: fuchsia;
  position: absolute;
  top: 75%;
}

section {
  scroll-snap-align: center;
}

section:nth-child(even) {
  background-color: rgba(51, 53, 125, 0.8);
}

main {
  padding-inline: 1rem 1rem;
  min-height: max(50dvh, 2rem);
  position: sticky;
  word-break: keep-all;
  width: min(90ch, 100% - 4rem);
  margin-inline: auto;
  font-family: system-ui;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--txt);
}

.wrapper {
  margin-top: 40px;
  max-width: calc(80ch + 4rem);
  margin-inline: auto;
  padding-inline: 2rem;
  min-height: max(50dvh, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

section:nth-of-type(odd) {
  background-color: var(--bgVariant);
}

.stickyWrapper {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

main {
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
}

aside {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  padding-inline: 1rem 1.5rem;
  background-color: var(--surface-transparent);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  width: -moz-fit-content;
  width: fit-content;
  height: max(100dvh, 2rem);
  border-radius: 0 1rem 1rem 0;
  font-size: 0.875rem;
  position: sticky;
  top: 0;
}
aside ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
aside ol li {
  font-weight: 600;
  align-items: center;
  gap: 12px;
  text-transform: capitalize;
  color: var(--onSurface);
  justify-content: center;
  display: flex;
  transition: color 150ms ease-out;
}
aside ol li::before {
  margin-top: 2px;
  content: "";
  width: 1rem;
  height: 1rem;
  transition: border-color 150ms easae-out, background-color 150ms easae-out;
  border-radius: 999999999px;
  border: 0.125rem solid white;
}
aside ol li:hover {
  color: var(--accent);
}
aside ol li:hover::before {
  border-color: var(--accent);
}
aside ol li.pressed {
  color: var(--accent);
}
aside ol li.pressed::before {
  border-color: var(--accent);
  background-color: var(--accent);
}
aside a {
  text-decoration: none;
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
  background-color: var(--surface);
}
.progressBar .indicator {
  position: absolute;
  inset: 0;
  background-color: var(--accent);
  transform: scaleX(0%);
  transform-origin: left;
}

footer .wrapper {
  min-height: max(100dvh, 2rem);
}

@media (width < 1080px) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    grid-column: 1;
    grid-row: 3;
    padding-inline: unset;
    padding-block: 16px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    position: sticky;
    top: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  aside::-webkit-scrollbar {
    display: none;
  }
  aside ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
  }
  aside ol li {
    font-weight: 600;
    align-items: center;
    gap: 12px;
    text-transform: capitalize;
    color: white;
    justify-content: center;
    display: flex;
    transition: color 150ms ease-out;
  }
  aside ol li::before {
    margin-top: 2px;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 999999999px;
    transition: border-color 150ms ease-out;
    border: 0.125rem solid var(--onSurface);
  }
  aside .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (width < 1080px) and (width < 960px) {
  aside {
    grid-column: 1;
    grid-row: 3;
    padding-inline: unset;
    padding-block: 16px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    position: sticky;
    top: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  aside::-webkit-scrollbar {
    display: none;
  }
  aside ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
  }
  aside ol a:first-of-type li {
    margin-left: 2rem;
  }
  aside ol a:last-of-type li {
    margin-right: 2rem;
  }
}
@media (width < 59.1875rem) {
  aside ol {
    justify-content: flex-start;
  }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}