@import "theme.dark.css"
  (prefers-color-scheme: dark);
@import "theme.light.css"
  (prefers-color-scheme: light);

$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-height: 1rem;

$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: $bg;
  color: $txt;
}

.wrapper {
  max-width: calc(
    80ch + 2 * $wrapper-padding-inline
  );
  margin-inline: auto;
  padding-inline: $wrapper-padding-inline;
  min-height: max(50dvh, $min-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

section:nth-of-type(odd) {
  background-color: $bgVariant;
}

.stickyWrapper {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

aside {
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  padding-inline: 1rem 1.5rem;
  background-color: $surface-transparent;
  backdrop-filter: blur(0.25rem);
  width: fit-content;
  height: max(100dvh, $min-height);
  border-radius: 0 1rem 1rem 0;
  font-size: 0.875rem;
  position: sticky;
  top: 0;

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    li {
      font-weight: 600;
      align-items: center;
      gap: 12px;
      text-transform: capitalize;
      color: $onSurface;
      justify-content: center;
      display: flex;
      transition: color 150ms ease-out;

      &::before {
        margin-top: 2px;
        content: "";
        width: 1rem;
        height: 1rem;
        transition: border-color 150ms easae-out,
          background-color 150ms easae-out;
        border-radius: 999999999px;
        border: 0.125rem solid white;
      }
      &:hover {
        color: $accent;

        &::before {
          border-color: $accent;
        }
      }
      &.pressed {
        color: $accent;

        &::before {
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;

  .indicator {
    position: absolute;
    inset: 0;
    background-color: $accent;
    transform: scaleX(0%);
    transform-origin: left;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (width<1080px) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    grid-column: 1;
    grid-row: 3;
    padding-inline: unset;
    padding-block: 16px;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    position: sticky;
    top: $progressBar-height;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 48px;

      li {
        font-weight: 600;
        align-items: center;
        gap: 12px;
        text-transform: capitalize;
        color: white;
        justify-content: center;
        display: flex;
        transition: color 150ms ease-out;

        &::before {
          margin-top: 2px;
          content: "";
          width: 1rem;
          height: 1rem;
          border-radius: 999999999px;
          transition: border-color 150ms ease-out;
          border: 0.125rem solid $onSurface;
        }
      }
    }

    .progressBar {
      grid-column: 1;
      grid-row: 1;
    }
  }

  @media (width<960px) {
    aside {
      grid-column: 1;
      grid-row: 3;
      padding-inline: unset;
      padding-block: 16px;
      width: 100%;
      height: fit-content;
      border-radius: 0 0 1rem 1rem;
      position: sticky;
      top: $progressBar-height;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      ol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 48px;
        a:first-of-type li {
          margin-left: $wrapper-padding-inline;
        }
        a:last-of-type li {
          margin-right: $wrapper-padding-inline;
        }
      }
    }
  }
}
@media (width < 59.1875rem) {
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}
