* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(226, 250, 233);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  font-size: 11px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  background-color: red;
  aspect-ratio: 1/1;
  width: 16px;
  text-align: center;
  border-radius: 999px;
  color: white;
  position: relative;
  left: -8px;
  top: -16px; /*relative있어야만 작동. 그게 위치를 바꿀 수 있다. 라고 지정해주는 거임*/
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: fit-content;
  color: #49454f;
  border: 1px solid #797472;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 200ms ease-out;
  &:hover {
    background-color: rgb(243, 185, 150);
  }
}
